* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.man_background {
    background-image: url(images/Layer\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1% 11%;
    align-items: center;
}

.head, .call_now {
    display: flex;
    align-items: center;
    color: white;
}

.call{
    padding-left: 5px;
}

.logo_and_name img {
    max-height: 50px;
}

.woman img {
    position: absolute;
    max-width: 550px;
    height: auto;
    left: 15%;
    top: 28%;
    bottom: 10%;
}

.leave_money {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 18%;
    left: 38%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leave_money span {
    color: goldenrod;
}

.your_Business {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 28%;
    left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.your_Business span {
    color: goldenrod;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.content {
    max-width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
}

.contact_info {
    background-color: rgb(45, 45, 162);
    position: relative;
    margin-left: -10%;
    margin-top: 40%;
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: 2px;
    border-top-right-radius: 40px;
}

.woman {
    max-width: 50%;
}

.leave_ur_no {
    color: white;
    font-size: 2.5vw;
    padding-left: 5%;
    padding-top: 3vh;
    padding-right: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.get {
    color: white;
    padding-left: 5%;
    padding-right: 3vw;
    padding-top: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.f1 {
    padding-left: 5%;
    padding-right: 3vw;
    padding-top: 3vh;
}

.f1_name {
    width: 100%;
    padding: 1.5vh;
    font-size: 1.5vw;
    margin-top: 3vh;
}

.f1_email,
.f1_phone {
    width: 48%;
    padding: 1.5vh;
    font-size: 1.5vw;
    margin-top: 3vh;
    display: inline;
    margin-right: 3%;
}

.f1_phone {
    margin-left: 0;
    margin-right: 0;
}

.f1_message {
    width: 100%;
    padding: 1.5vh 1vw 5vh 1vw;
    font-size: 1.5vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    outline: none;
}

.f1_submit {
    background-color: gold;
    height: 8vh;
    width: 13vw;
    margin-top: 3vh;
    font-size: 2vw;
    border-radius: 1vw;
    border: none;
}

.we_dont {
    color: white;
    padding: 1vh 5% 3vh 5%;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about_bank {
    background-image: url(images/Layer\ 6.png);
    background-color: black;
    max-width: 100%;
    height: 500px;
    margin-top: -2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.about_bank1,
.about_bank2,
.about_bank3,
.about_bank4 {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}

.about_bank1 img,
.about_bank2 img,
.about_bank3 img,
.about_bank4 img {
    height: 5px;
    width: 65px;
    margin-top: 40px;
}

.about_bank1 h5,
.about_bank2 h5,
.about_bank3 h5,
.about_bank4 h5 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(106, 109, 161);
}

.about_bank1 p,
.about_bank2 p,
.about_bank3 p,
.about_bank4 p {
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.what_client_says {
    background-image: url(images/landing_7.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5% 10%;
}

.what_says {
    font-size: 5vw;
    color: rgb(75, 75, 145);
    padding-top: 2vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img_quotes {
    align-items: center;
    text-align: center;
    margin-top: 5vh;
}

.paul_says p {
    font-size: 2.5vh;
    text-align: center;
    margin: 5vh auto;
    color: black;
}

.paul_smith {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.paul img {
    border-radius: 50%;
    width: 8vw;
    max-width: 200px;
    margin-top: 5vh;
}

.Businessman img {
    width: 15vw;
    max-width: 200px;
    margin-top: 9vh;
    margin-left: 5%;
}

.footer {
    background-color: blue;
    background-image: url(images/Rectangle\ 3.png);
    padding: 5% 10%;
    padding-inline: 10%;
}

.bg_box1,
.bg_box2 {
    background-color: gold;
    height: 5vw;
    width: 5vw;
    padding: 1.2vw;
    text-align: center;
}

.box_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    padding-inline: 20%;
}

.c_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    padding-inline: 14%;
    color: white;
    font-size: 2vw;
}

.footer_says {
    color: white;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.3vw;
}

.bluefoot {
    color: white;
    background-color: rgb(100, 43, 153);
    height: 50px;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .man_background{
        height: 120vh;
        height: 150vh;
    }
    .nav {
        flex-direction: row;
        align-items: flex-start;
    }
    .woman img {
        max-height: 300px;
        top: 14%;
    }
    .content-container {
        flex-direction: column;
    }
    .content, .woman {
        max-width: 100%;
    }
    .leave_money{
        top: 68%;
    }
    .your_Business{
        top: 68%;
    }
    .contact_info{
        margin-top: 95%;
        left: 5%;
        top: -5%;
        width: fit-content;
        height: fit-content;
    }
    .leave_ur_no{
        font-size: 5.5vw;
    }
    .f1_name,.f1_email,.f1_phone,.f1_message{
        font-size: 3.5vw;
    }
    .f1_email{
        width: 100%;
    }
    .f1_phone{
        width: 100%;
        margin-left: 0;
    }
    .f1_submit {
        background-color: gold;
        height: 5vh;
        width: 13vw;
        margin-top: 3vh;
        font-size: 2vw;
        border-radius: 1vw;
        border: none;
    }
    .we_dont{
        font-size: 2vw;
    }
    .about_bank {
        background-image: url(images/Layer\ 6.png);
        background-color: black;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        z-index: 500;
        margin-top: -6%;
        justify-content: space-between;
        padding: 0 5%;
    }
    .about_bank1, .about_bank2, .about_bank3, .about_bank4 {
        flex-basis: 45%;
        margin: 2%;
        color: white;
        text-align: center;
    }
    .about_bank2{
        margin-top: 6%;
    }
    .about_bank3{
        margin-top: 7%;
    }
    .about_bank1 img, .about_bank2 img, .about_bank3 img, .about_bank4 img {
        height: 50px;
        width: 100%;
    }
    .about_bank1 h5, .about_bank2 h5, .about_bank3 h5, .about_bank4 h5 {
        font-size: 4vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(106, 109, 161);
    }
    .about_bank1 p, .about_bank2 p, .about_bank3 p, .about_bank4 p {
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .about_bank1 pre, .about_bank2 pre, .about_bank3 pre, .about_bank4 pre {
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .Businessman img{
        width: 15vw;
        max-width: 200px;
        margin-top: 6vh;
        margin-left: 5%;
    }
    .bg_box1,
    .bg_box2 {
        background-color: gold;
        height: 10vw;
        width: 10vw;
        padding: 1.2vw;
        text-align: center;
    }
    .footer{
        font-size: 1.2vw;
    }
    .c_info{
        padding-inline: 17%;
    }
    .bluefoot {
        color: white;
        background-color: rgb(100, 43, 153);
        height: 5vh;
        font-size: 2vw;
        text-align: center;
        padding-top: 1vh;
    }
}
